@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: local('☺'), url('../fonts/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url('../fonts/RobotoCondensed-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/**************************************UI KIT START**************************************************/
.logo {
    z-index: 5;
}

.title {
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
}

.title__theme--green {
    color: #275420;
}

.title__theme--black {
    color: #202454;
}

/**************************************BUTTON START**************************************************/
.button {
    background: #E77E42;
    border: 1px solid #E77E42;
    box-sizing: border-box;
    border-radius: 3px;
}

.button-body {
    padding: 15px 32px 15px 32px;
    display: flex;
    align-items: center;
}

.button-body__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.button-body__icon {
    margin-left: 10px;
}

/**************************************BUTTON END**************************************************/


/**************************************UI KIT END**************************************************/
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

body._lock {
    overflow: hidden;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--header {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.header {
    display: flex;
    box-shadow: 0 4px 12px rgba(18, 33, 63, 0.05);
    margin-bottom: 96px;
}

.header-menu {
    padding-top: 12px;
}

/******************************header-menu__top START*************************************/
.header-menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-menu__top__left {
    display: flex;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
}

.location-name {
    position: relative;
    color: #7B94B0;
    cursor: pointer;
    margin-left: 7px;
}

.location-name:hover {
    color: #202454;
}

.location-name::after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #7B94B0;
    left: 0;
    bottom: -4px;
    width: 100%;
}

.menu__top-item {
    display: flex;
    align-items: center;
    margin-left: 74px;
}

.top-item__link {
    display: flex;
    align-items: center;
    padding-right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #7B94B0;
    cursor: pointer;
}

.top-item__link:nth-child(3) {
    padding-right: 4px;
}

.top-item__link:hover {
    color: #202454;
}

.header-menu__top__right {
    display: flex;
    align-items: center;
}

.phones {
    display: flex;
    align-items: center;
}

.phones-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    margin-right: 8px;
    color: #7B94B0;
}

.phones-number {
    font-size: 14px;
    line-height: 114%;
    color: #7B94B0;
    margin-right: 4px;
}

.item__catalog {
    line-height: 116%;
    color: #202454;
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px;
    cursor: pointer;
}

.item__catalog:hover {
    color: #7B94B0;
}

.item__catalog:nth-child(5) {
    margin-right: 5px;
}

.lang {
    display: flex;
    margin-left: 48px;
}

.lang__link {
    font-weight: normal;
    font-size: 12px;
    line-height: 116%;
    padding: 3px;
    margin-right: 4px;
    color: #7B94B0;
    cursor: pointer;
}

.lang__link:hover {
    background: #F4F5F8;
    border-radius: 3px;
    color: #202454;
}

.lang__link:nth-child(3) {
    padding-right: 0;
    margin-right: 0;
}

/******************************header-menu__top END*************************************/


/******************************header-menu__bottom START*************************************/
.header-menu__bottom {
    display: flex;
    justify-content: space-between;
}

.header-menu__bottom__left {
    display: flex;
    align-items: center;
}

.catalog {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.header-menu__bottom__right {
    display: flex;
    align-items: center;
}

.header-form {
    display: flex;
    align-items: center;
}

.header-form__button {
    background-color: #FFFFFF;
}

.header-form__input {
    border: none;
    width: 70%;
}

.client {
    display: flex;
    align-items: center;
    position: relative;
}


.number {
    position: absolute;
    right: -16px;
    top: -8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 85%;
    padding: 7px;
    color: #FFFFFF;
    background-color: #E77E42;
    border-radius: 20px;
}

.item__client {
    padding-right: 12px;
}

.item__client:nth-child(3) {
    padding-right: 0;
}

/******************************header-menu__bottom END*************************************/


/*********************************CARD START*******************************************/
.best {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.best-deals {
    margin-right: 24px;
    font-weight: normal;
    font-size: 32px;
    line-height: 115%;
    color: #202454;
}

.best-deals__item {
}

.deals__item-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    color: #7B94B0;
    margin: 0 12px 0 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #7B94B0;
}

.deals__item-link:hover {
    margin: 0;
    padding: 8px 12px 8px 12px;
    background: #FDF2EC;
    border-radius: 20px;
    color: #E77E42;
    border-bottom: none;
}

.card {
    width: 240px;
}

.card__top {
    position: relative;
    height: 258px;
    width: 258px;
    display: flex;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    margin-bottom: 17px;
}

.top {
    z-index: 1;
}

.label {
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text--white {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 116%;
    color: #FFFFFF;
    /*padding: 4px 6px 3px 6px;*/
    text-transform: uppercase;
    cursor: pointer;
}

.text--black {
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    color: #202454;
    height: 46px;
    width: 260px;
    overflow: hidden;
}

.label--purple {
    background: #8D58E3;
    margin-bottom: 6px;
    border-radius: 3px;
    padding: 2px 2px 3px 4px;
}

.label--new {
    background: #3BC5AD;
    border-radius: 3px;
    padding: 2px 2px 3px 4px;
}

.label--discount {
    background: #E95471;
    border-radius: 3px;
    padding: 2px 2px 3px 4px;
}

.card__product {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 29px;
}

.rating__reviews {
    font-weight: 400;
    font-size: 12px;
    line-height: 116%;
}

.zero {
    color: #B6B7C4;
}

.big {
    color: #202454;
}

.trade {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.price__old {
    display: flex;
}

.trade-price__top {
    display: flex;
    justify-content: center;
    background: #E95471;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}

.trade-price__oldd {
    display: flex;
    align-items: center;
}

.prc {
    padding-left: 4px;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    color: #7B94B0;
}

.trade-price__bottom {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
}

.trade-price__discount {
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #7B94B0;
    padding-right: 4px;
    position: relative;
}

.discount--1 {
    display: none;
}

.trade-price__discount:before {
    position: absolute;
    content: "";
    left: 45%;
    top: 55%;
    width: 90%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #7B94B0;
}

.trade-price__new {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(84, 143, 199, 0.2);
    border-radius: 20px;
}

.basket:hover {
    background: #7B94B0;
}

/*********************************CARD END*******************************************/

/******************************************************SLIDER START*******************************************************/


.slider .slick-list {
    overflow: hidden;
}

.slider .slick-track {
    display: flex;
}

.slider .slick-slide {
    margin: 0 15px 0 15px;
}

.slider .slick-slide:nth-child(1) {
    margin-right: 0;
}

@media (max-width: 1440px) {
    .slider .slick-slide {
        margin: 0 8px 0 8px;
    }
}

.slider {
    position: relative;
}

@media (max-width: 767px) {
    .slider {
        padding: 0 40px;
    }
}

.slider .slick-arrow {
    position: absolute;
    top: -7%;
    margin: -30px 0 0 0;
    z-index: 1;
    font-size: 0;
    width: 32px;
    height: 32px;
}

.slider .slick-arrow.slick-prev {
    right: 70px;
    background: url('../img/arrow/back.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 30px;
    background: url('../img/arrow/next.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 4px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: #245420;
}

/******************************************************SLIDER END*******************************************************/

/******************************************************SEARCH-BLOG START*******************************************************/

.block-blog {
    margin: 80px 0 0 0;
    display: flex;
}

.search-blog {
    max-width: 460px;
    margin: 0 140px 0 0;
}

.search-blog__body {
    background-color: #B3D3B3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.search-blog__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #A4563E;
    padding-bottom: 8px;
}

.search-blog__info {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.search-blog__img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.search-blog__item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-blog__button {
    display: flex;
    align-items: center;
}

/******************************************************SEARCH-BLOG END*******************************************************/


.blog {
    width: 100%;
}

.blog-info {
    display: flex;
    justify-content: space-between;
}

.blog-catalog {

}

.blog-catalog__item {
}


.link-blog {
}

.link-blog__text {
    padding: 9px 21px 9px 21px;
}

/******************************************************FOOTER*******************************************************/

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    height: 180px;
    background-color: #9AC499;
    position: relative;
}

.logo__pet {
    position: absolute;
    top: -45%;
    left: 23%;
}

.registration {
    margin-left: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-top__info {
    margin-bottom: 12px;
}

.regis {
    background-color: #E77E42;
    padding: 15px 32px 14px 32px;
}


.text--black-big {
    font-weight: bold;
    font-size: 24px;
    line-height: 116%;
    text-align: center;
}

.text--white-big {
    font-size: 16px;
    line-height: 19px

}

.footer-bottom {
    background-color: #245420;
}

.footer-bottom__info {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.logo--footer {
    margin: 0;
}

.footer-about {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 24px;
    cursor: pointer;
}

.footer-title:hover {
    color: #50764D;
}

.footer-about__list {
    display: flex;
    flex-direction: column;
}

.about__list-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
}

.about__list-item:last-child {
    margin-bottom: 0;
}

.scroll-up {
    display: flex;
    align-items: self-start;
}

.scroll-up__txt {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 16px;
    margin-top: 15px;
}

.scroll-up__button {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #50764D;
    border-radius: 100%;
}

.scroll-up__icon {
    display: inline-block;
}

.footer-bottom__corp {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    padding-bottom: 21px;
    border-top: 1px solid #456E42;
}

.bottom__corp-left {
    margin-top: 26px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}

.bottom__corp-right {
    display: flex;
    margin-top: 21px;
}

.bottom__corp-right div {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}

.bottom__corp-right span {
    padding-left: 6px;
    color: #FFFFFF;
}

/******************************************************FOOTER*******************************************************/

@media (max-width: 1400px) {
    .footer-about {
        width: 800px;
    }
}

@media (max-width: 1150px) {
    .logo {
        margin: 30px 20px 33px 20px;
    }

    .logo__pet {
        left: 8%;
    }

    .text--black-big {
        font-size: 18px;
    }

    .text--white-big {
        font-size: 14px;
    }

    .regis {
        padding: 8px 16px 7px 16px;
    }

    .menu__top-item {
        justify-content: center;
    }

    .item__catalog {
        margin-right: 20px;
        font-size: 16px;
    }

    .footer-about {
        width: 540px;
    }
}

@media (max-width: 1000px) {
    .logo img {
        width: 80px;
        height: 30px;
    }

    .client {
        margin-right: 19px;
    }

    .item__catalog {
        margin-right: 10px;
        font-size: 14px;
    }

    .lang {
        margin-right: 30px;
    }

    .lang__link {
        font-size: 10px;
    }

    .footer-about {
        width: 440px;
    }

    .footer-title {
        font-size: 16px;
    }

    .about__list-item {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .footer-top {
        margin-top: 90px;
    }

    .logo__pet {
        display: none;
    }

    .registration {
        margin-left: 0;
    }

    .footer-about {
        width: 100px;
    }

    .about__list-item {
        display: none;
    }
}

@media (max-width: 425px) {

    .text--black-big {
        font-size: 14px;
    }

    .text--white-big {
        font-size: 10px;
    }

    .regis {
        padding: 5px 10px 4px 10px;
    }

    .footer-bottom__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo--footer {
        margin-left: 0;
    }

    .footer-bottom__corp {
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 0;
    }
}

/**************************BURGER*************************************************/
@media (max-width: 767px) {
    .burger-header {
        position: relative;
        width: 30px;
        height: 18px;
        display: block;
        margin-top: 35px;
        margin-right: 20px;
        cursor: pointer;
        z-index: 5;
    }

    .burger-header span,
    .burger-header::before,
    .burger-header::after {
        right: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .burger-header::before,
    .burger-header::after {
        content: "";
    }

    .burger-header::before {
        top: 0;
    }

    .burger-header::after {
        bottom: 0;
    }

    .burger-header span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger-header._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .burger-header._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .burger-header._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .header-menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #dde8f0ed;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .header-menu::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        background-color: #13702144;
        z-index: 2;
    }

    .header-menu._active {
        left: 0;
    }

    .header-menu {
        display: block;
        z-index: 2;
    }

    .menu__top-item {
        margin-bottom: 20px;
        display: block;
        position: relative;
    }

    .menu__top-item:after {
        content: "";
        position: absolute;
        width: 20%;
        border-bottom: 1px solid #dde8f0;
    }

    .top-item__link {
        padding-bottom: 10px;
        display: block;
    }

    .catalog {
        display: block;
    }

    .item__catalog {
        padding-bottom: 10px;
        display: block;
    }

    .lang {
        justify-content: normal;
    }

    .lang__link {
        font-size: 12px;
    }

    .header {
        justify-content: space-between;
    }
}

/**************************BURGER*************************************************/
