.logo {
    fill: #2C9323;
}

.logo-theme--white {
    fill: #FFFFFF;
}

.logo--footer {
    fill: #2C9323;
}

.sprite__region {
    fill: #7B94B0;
}

.sprite__region:hover {
    fill: #202454;
}

.wish {
    fill: none;
    stroke: #202454;
    cursor: pointer;
}

.wish:hover {
    stroke: #3A9EFD;
}

.basket--blue {
    stroke: #3A9EFD;
}

.arr-down {
    fill: none;
    stroke: #7B94B0;
}

.arr-down:hover {
    stroke: #202454;
}

.button__toggle {
    fill: none;
    stroke: #7B94B0;
    cursor: pointer;
}

.button__toggle:hover {
    stroke: #202454;
}

.arr-up {
    fill: none;
    stroke: #fff;
}

.arr-up:hover {
    stroke: #E77E42;
}

.arr-right {
    fill: none;
    stroke: #fff;
}
.arr-lef{
    fill: none;
    stroke: red;
}
.update {
    fill: #fff;
}

.social-networks {
    fill: #FFFFFF;
}

.social-networks:hover {
    fill: #E77E42;
}

.feedback__icon {
    fill: #E77E42;
}

.sprite-user {
    stroke: #202454;
}

.telephone {
    fill: #33485D;
}

.icon-mobile {
    fill: #33485D;
}

.star {
    fill: #E77E42;
    margin-right: 2px;
}

.bad-star {
    fill: #E0E0E0;
    margin-right: 2px;
}
.delivery{
    fill: #E9793A;
}
.present{
    fill: #E9793A;
}
.many-shops{
    fill: #E9793A;
}
.discount{
    fill: none;
    stroke: #E9793A;
}
.lapka{
    fill: none;
    stroke: #8D58E3;
}
.video{
    stroke: #FFFFFF;
}